<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Senhas</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-gray-900 text-white font-sans flex items-center justify-center min-h-screen p-4">
    <div class="w-full max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Seção da Senha Atual -->
        <div class="bg-gray-800 rounded-xl shadow-2xl p-10 flex flex-col items-center justify-center">
            <h1 class="text-6xl md:text-8xl font-light text-gray-400 mb-4">SENHA ATUAL</h1>
            <p id="senha-atual-display" class="text-9xl md:text-[16rem] font-black text-red-500 tracking-wider">--</p>
        </div>

        <!-- Seção do Histórico -->
        <div class="bg-gray-800 rounded-xl shadow-2xl p-8">
            <h2 class="text-4xl md:text-5xl font-bold mb-6 text-gray-400">Últimas Senhas</h2>
            <div id="historico-senhas" class="flex flex-col space-y-4">
                <!-- Senhas do histórico serão adicionadas aqui pelo JS -->
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>